/*
Error: Invalid CSS after "	pa": expected "{", was "}"
        on line 3 of /Users/yatheesha/Desktop/personal-website/scss/post_project.scss

1: #post_wrapper {
2: 	pa
3: }

Backtrace:
/Users/yatheesha/Desktop/personal-website/scss/post_project.scss:3
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1179:in `expected'
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1115:in `expected'
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1110:in `tok!'
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:654:in `block'
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:724:in `declaration_or_ruleset'
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:674:in `block_child'
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:663:in `block_contents'
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:655:in `block'
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:647:in `ruleset'
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:673:in `block_child'
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:663:in `block_contents'
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:123:in `stylesheet'
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:39:in `parse'
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:403:in `_to_tree'
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:278:in `render'
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:423:in `run'
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Users/yatheesha/Downloads/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"	pa\": expected \"{\", was \"}\"\A         on line 3 of /Users/yatheesha/Desktop/personal-website/scss/post_project.scss\A \A 1: #post_wrapper {\A 2: 	pa\A 3: }"; }
