<div id="disqus_thread"></div>
<script>

var disqus_url = '<%= url_for([@post, {only_path: false}]) %>';
var disqus_identifier = '<%= @post.id %>' ;
var disqus_container_id = 'disqus_thread';
var disqus_shortname = 'blog-yatheesha';
var disqus_title = '<%= @post.title %>';
var disqus_config_custom = window.disqus_config;
var disqus_config = function () {
    if (disqus_config_custom) {
        disqus_config_custom.call(this);
    }
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//blog-yatheesha.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>