<div class="wrapper wrapper_padding clearfix">
	<header>
		<h1>About me</h1>
	</header> 
	<div id="about_content">
		<p>Hey, I&#8217;m Yatheesha, Software Developer at <a title="Housing.com" href="https://housing.com/" target="_blank">Housing.com</a>. My biggest interest is in the world of iOS, but I also like to dabble with whatever crosses my path. I decided to build this site from the ground up to give myself more experience in the web world. Hopefully you&#8217;ll find some of my thoughts, discoveries, and experiences helpful.</p>
	</div>

	<div class="button_wrapper">
		<a href="mailto:yathishbl60@gmail.com" class="project_button">Contact Me</a> 
	</div>

</div>
